body{
    text-align : center;
}
.bkbox{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    height: 300px;
    width: 292px;
}

/*// ANIMATED ELEMENTS //*/

.box1{
    position: absolute;
    top: 260px;
    left: 10px;
    animation: shrink 0.50s 0s both infinite alternate-reverse cubic-bezier(.42,.38,1,.42)
}
.jbox1{
    position: absolute;
    top: 229px;
    left: 10px;
    animation: jump 0.50s 0s both infinite alternate cubic-bezier(0,0,.35,.99);
}
.box2{
    position: absolute;
    top: 260px;
    left: 50px;
    animation: shrink 0.50s 0.1s both infinite alternate-reverse cubic-bezier(.42,.38,1,.42)
}
.jbox2{
    position: absolute;
    top: 229px;
    left: 50px;
    animation: jump 0.50s 0.1s both infinite alternate cubic-bezier(0,0,.35,.99);
}
.box3{
    position: absolute;
    top: 260px;
    left: 90px;
    animation: shrink 0.50s 0.2s both infinite alternate-reverse cubic-bezier(.42,.38,1,.42)
}
.jbox3{
    position: absolute;
    top: 229px;
    left: 90px;
    animation: jump 0.50s 0.2s both infinite alternate cubic-bezier(0,0,.35,.99);
}
.box4{
    position: absolute;
    top: 260px;
    left: 130px;
    animation: shrink 0.50s 0.3s both infinite alternate-reverse cubic-bezier(.42,.38,1,.42)
}
.jbox4{
    position: absolute;
    top: 229px;
    left: 130px;
    animation: jump 0.50s 0.3s both infinite alternate cubic-bezier(0,0,.35,.99);
}
.box5{
    position: absolute;
    top: 260px;
    left: 170px;
    animation: shrink 0.50s 0.4s both infinite alternate-reverse cubic-bezier(.42,.38,1,.42)
}
.jbox5{
    position: absolute;
    top: 229px;
    left: 170px;
    animation: jump 0.50s 0.4s both infinite alternate cubic-bezier(0,0,.35,.99);
}
.box6{
    position: absolute;
    top: 260px;
    left: 210px;
    animation: shrink 0.50s 0.5s both infinite alternate-reverse cubic-bezier(.42,.38,1,.42)
}
.jbox6{
    position: absolute;
    top: 229px;
    left: 210px;
    animation: jump 0.50s 0.5s both infinite alternate cubic-bezier(0,0,.35,.99);
}
.box7{
    position: absolute;
    top: 260px;
    left: 250px;
    animation: shrink 0.50s 0.6s both infinite alternate-reverse cubic-bezier(.42,.38,1,.42)
}
.jbox7{
    position: absolute;
    top: 229px;
    left: 250px;
    animation: jump 0.50s 0.6s both infinite alternate cubic-bezier(0,0,.35,.99);
}

/*// KEYFRAMES //*/

@keyframes jump{
    from {transform: translateY(0)}
    to {transform: translateY(-220px)}
}

@keyframes shrink{
    from {transform: scaleY(0)}
    from {transform: scaleY(0.1)}
}